<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>MyListEiya</title>
</head>
<body>
    <header>
        <div class="headerLogo">
            <h1>MyListEiya</h1>
            <button type="button" onclick="">#</button>
        </div>
        <div class="headerLinks">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Mangá</a></li>
                    <li><a href="#">Manhwa</a></li>
                    <li><a href="#">Manhua</a></li>
                    <li><a href="#">Anime</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>

    </main>
    <footer>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Mangá</a></li>
                <li><a href="#">Manhwa</a></li>
                <li><a href="#">Manhua</a></li>
                <li><a href="#">Anime</a></li>
            </ul>
        </nav>
    </footer>
    <script src="{{url_for('static', filename='js/base.js')}}"></script>
</body>
</html>